{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row mx-5">
        <div class="col-sm-12 page-title text-center">
            <h1>What we do</h1>
        </div>
    </div>
    <div class="row parallax-3">
        <div class="col-sm intro-text">
            <p>WineNation is a small wine shop located in North London. Our mission is to popularize wines
                from Eastern Europe by offering the best wines and expert advice to shoppers online or in store. We stock wines and sparkling wines from countries currently including Hungary, Romania, Austria and Serbia.
                We are adding new items to our selection every week-make sure you visit us regularly for updates!</p>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col my-5">
            <h2 class="titles">The history of Hungarian wine</h2>
            <p>One hundred years ago, Hungary was one of the most important wine producers in Europe. Every royal court
                in Europe clinked glasses filled with precious gold Tokaji (“toe-kye”) wine, while other lush Hungarian
                whites and reds were lauded and enjoyed throughout Europe. So why don’t we see more Hungarian wine
                today?
                Cue the aggressive assault of phylloxera in the 1880’s, two world wars, and forty years of communist
                collectivization and we begin to get our answer.</p>
            <p>
                Fortunately, Hungary is bouncing back. Countless small estates, replanted and cultivated across the
                country are turning out beautiful wines–a result of traditional winemaking culture mixed with a modern
                sensibility. With 22 wine regions growing hundreds of varietals, many of which are indigenous and under
                protection, the country offers a multitude of great
                wines to explore. </p>
            <p>The country is located between the 46th and 49th parallel which is actually the same
                latitude range as many of France’s top wine regions from Northern Rhône to Champagne. Hungary’s rolling
                hills are rich in volcanic soils and limestone–idyllic soil types for fine winemaking.</p>
            <p><a href="https://hungarianwines.eu/wine-regions/" target="blank">Find out more about wine regions
                    here!</a></p>
        </div>
    </div>
    <div class="row intro-text-2">
        <div class="col">
            <p>Fun fact: Nearly every single language’s word for wine derives from the latin word vinum. There are
                only
                three languages whose word for wine does not: Greek (oinos), Turkish (sarap), and Hungarian (bor).
                Some
                historians believe this might indicate an early Hungarian connection to winemaking unrelated to the
                Romans,
                feeding the strong suspicion that Hungarian wine culture predates most of the other wine cultures of
                Europe.
            </p>
        </div>
        <div class="col">
            <img src="/media/vineyard.jpg" id="landing-image-1">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Hungarian wine is probably more than you expected, with wine regions and local styles that are as
                alluring as
                they are diverse.They are under-hyped, but are begging to become the next stars of the wine world.
                Opening a bottle of Hungarian wine is like uncovering a
                great historical secret. Luckily for us, the secret is out, and the history is just beginning.
                (source:
                winefolly.com)</p>
            <img src="/media/wine-with-friends.jpg" id="landing-image-2">
        </div>
    </div>
</div>

{% endblock %}