<!--Based on Boutique-ado project in CI course-->

<script type="text/javascript">

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(wineId) {
        let currentValue = parseInt($(`#id_qty_${wineId}`).val());
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 98;
        $(`#decrement-qty_${wineId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${wineId}`).prop('disabled', plusDisabled);
    }

    function handleEnableDisable(subscriptionId) {
        let currentValue = parseInt($(`#id_qty_${subscriptionId}`).val());
        let minusDisabled = currentValue < 2;
        let plusDisabled = currentValue > 98;
        $(`#decrement-qty_${subscriptionId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${subscriptionId}`).prop('disabled', plusDisabled);
    }

    // Ensure proper enabling/disabling of all inputs on page load
    let allQtyInputs = $('.qty_input');
    for(let i = 0; i < allQtyInputs.length; i++){
        let wineId = $(allQtyInputs[i]).data('wine_id');
        handleEnableDisable(wineId);
        let subscriptionId = $(allQtyInputs[i]).data('subscription_id');
        handleEnableDisable(subscriptionId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        let wineId = $(this).data('wine_id');
        handleEnableDisable(wineId);

        let subscriptionId = $(this).data('subscription_id');
        handleEnableDisable(subscriptionId);
    });

    // Increment quantity

    $('.increment-qty').click(function(e) {
       e.preventDefault();
       let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       let currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       let wineId = $(this).data('wine_id');
        handleEnableDisable(wineId);

        let subscriptionId = $(this).data('subscription_id');
        handleEnableDisable(subscriptionId);

    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       let wineId = $(this).data('wine_id');
        handleEnableDisable(wineId);

       let subscriptionId = $(this).data('subscription_id');
       handleEnableDisable(subscriptionId);
    });
</script>
