body, html {
  height: 100%;
  margin: 0;
}

body {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size:1em;
}
.hero-image {
    height: 400px;
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*margin-top:100px;*/
}
.landing-text {
    text-align: center;
    color:white;
    justify-content:center;
    top:100px;
}
.btn-lg{
    background: #520100;
    color: white;
    font-size: 30px;
    margin-top:30px;
}
.btn-lg:hover{
    color:white;
}
.intro-text{
    margin: 100px 60px;
    line-height: 2em;
}
.intro-text-1{
    margin: 100px 60px;
    line-height: 2em;
}
.intro-text-2{
    margin: 30px 60px;
    line-height: 2em;
}
#map{
    max-height: 500px;
}
#landing-image-1{
    max-height: 500px;
}
#landing-image-2{
    max-height: 500px;
}
footer{
    align-items:center;
    color:white;
    text-align:left;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.navbar-brand img{
    width:140px;
    height:120px;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:#520100;
}
.menu{
    font-size:1.5em;
    color:black !important;
}
.menu:hover{
    color:#520100 !important;
}
.menu:active{
    color:#520100;
}
.dropdown-item:hover{
    background: #F9E784;
}
.btn {
    background: #520100;
    color: white;
}

.bg-red{
    background:#520100 !important;
}

.page-title{
    margin:80px 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
