body, html {
  height: 100%;
  margin: 0;
}

body {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size:1em;
}
.hero-image {
    height: 500px;
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-text {
    text-align: center;
    color:white;
    justify-content:center;
    top:100px;
}
/* -------------------------------- Navigation styling */
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.navbar-brand img{
    width:140px;
    height:120px;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:#990705;
}
.menu{
    font-size:1.5em;
    color:black !important;
}
.menu:hover{
    color:#990705 !important;
}
.menu:active{
    color:#990705;
}
.dropdown-item:hover{
    background: #F9E784;
}
.bg-red{
    background:#990705 !important;
}
.bg-pink{
    background: rgb(226, 84, 108);
}

/* -------------------------------- Buttons */


.btn {
    background: #990705;
    color: white;
}

.btn-outline-red{
    background:white;
    color:#990705 !important;
    border:1px solid #990705;
    font-weight:bold;
}
.btn:hover{
    color:white;
}
.btn-lg{
    background: #990705;
    color: white;
    font-size: 30px;
    margin-top:30px;
}
.btn-lg:hover{
    color:white;
}
.up-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.up-link,
.update-link,
.remove-item{
    cursor: pointer;
}
.up-link >i{
    font-size:2em;
    color: grey;
    border: 1px solid grey;
    padding:10px;
}
.form-control-sm{
    max-width:50px;
    height:38px;
    text-align: center;
}

.input-group-append .btn,
.input-group-prepend .btn{
    height:38px;
    border-radius:50%;
}


/* ------------------------------- toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.bag-notification-wrapper .image-fluid{
    height:auto;
    width:75%;
}

/* -------------------------------- Footer */
footer{
    color:white;
    text-align:justify;
}
footer ul li{
    list-style-type: none;
}
.partners a{
    color: white;
}
.social{
    display:inline;
}
.social a{
    color: white;
}
/* -------------------------------- Page headers */

.page-title{
    padding:30px 0;
    background-color:#990705;
    color:white;
}
.page-subtitle{
    margin:60px 0;
    color:black;

}
.intro-text{
    font-size:1.75em;
    margin: 60px;
    margin-bottom:140px;
    color:white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3); 
    text-align:center;
    line-height: 2em;
}
.intro-text-1{
    margin: 100px 60px;
    line-height: 2em;
    font-size:1.25em;
}
.intro-text-2{
    margin: 30px 60px;
    line-height: 2em;
}
.intro-text-3{
    margin: 30px 60px;
    line-height: 2em;
}
.titles{
    margin-bottom:30px;
    margin-top:60px;
    text-align:center;
}
.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 600px;
}
.carousel-caption{
    font-size: 1.75em;
    background: rgba(0, 0, 0, 0.3); 
}


/* -------------------------------- Wines and wine details page */
.card-title{
    color:#990705;
    padding:10px 0;

}

.image-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height:200px;
  width:auto;
}
.details-section{
    margin:30px;
}
.purchase-section{
    margin:30px;
    justify-content: center;
}

.back-arrow > a >i{
    padding:0 5px;

}
.back-arrow >a{
    color: black;
    text-decoration: none;
}

hr{
    border:1px solid #990705;
    border-radius: 5px;
    margin: 0 120px;
}
#price{
    font-size: 2em;
    margin-top: 30px;
}
/* -------------------------------- Subscription page styling */

.subscription {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height:350px;
  color:#990705;

}
.subscription .header {
  background-color: white;
  font-size: 25px;
  padding: 20px;
  background-color: rgb(226, 84, 108);

}
.subscription-intro{
    font-size:2em;
    margin: 60px 120px;
    color:white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5); 
    text-align:center;
}
.subscription li {
  text-align: center;
  color:#990705;

}
.grey {
  background-color:#bdb8b8;
  font-size: 1.5em;
  color:#990705;
  padding: 20px;
  font-weight: bold;
}
.white {
  background-color: #ffffff;
  font-size: 1em;
  text-align: left;
  padding: 10px 20px 0 20px;
}
.benefits{
    font-size: 1.5em;    
    margin: 20px 60px;
    text-align:left;
}
.benefits h2{
    margin-bottom: 60px;
    text-decoration:underline;
}
.benefits ol li{
    padding: 10px 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px){

.parallax {
  /* The image used */
  background-image: url('/media/subscription-image.jpg');

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
}

.parallax-3 {
  /* The image used */
  background-image: url('/media/about.jpg');

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
}
#landing-image-1{
    max-height: 300px;
    border-radius: 10px;
}
#landing-image-2{
    max-height: 500px;
    margin-bottom: 60px;
    border-radius: 10px;
}
}  
@media (max-width: 992px){
    .input-group-append .btn,
    .input-group-prepend .btn{
    height:38px;
    border-radius:0;
    width:50px;
}
}


/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {    
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8; /* text-info */
}
