body, html {
  height: 100%;
  margin: 0;
}

body {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size:1em;
}
.hero-image {
    height: 500px;
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.landing-text {
    text-align: center;
    color:white;
    justify-content:center;
    top:100px;
}
.btn {
    background: #990705;
    color: white;
}

.btn-outline-black{
    background:white;
    color:black !important;
    border:1px solid black;
}
.btn:hover{
    color:white;
}
.btn-lg{
    background: #990705;
    color: white;
    font-size: 30px;
    margin-top:30px;
}
.btn-lg:hover{
    color:white;
}
.up-button {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.up-link {
    cursor: pointer;
}
.up-link >i{
    font-size:2em;
    color: #990705;
}

.intro-text{
    font-size:1.5em;
    margin: 60px 120px;
    color:white;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
.intro-text-1{
    margin: 100px 60px;
    line-height: 2em;
}
.intro-text-2{
    margin: 30px 60px;
    line-height: 2em;
}
#map{
    max-height: 500px;
}
#landing-image-1{
    max-height: 500px;
}
#landing-image-2{
    max-height: 500px;
}
footer{
    align-items:center;
    color:white;
    text-align:left;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.navbar-brand img{
    width:140px;
    height:120px;
}
.nav-link{
    color:black;
}
.nav-link:hover{
    color:#990705;
}
.menu{
    font-size:1.5em;
    color:black !important;
}
.menu:hover{
    color:#990705 !important;
}
.menu:active{
    color:#990705;
}
.dropdown-item:hover{
    background: #F9E784;
}

.bg-red{
    background:#990705 !important;
}

.page-title{
    padding:30px 0;
    background-color:black;
    color:white;
}
.page-subtitle{
    margin:60px 0;
}

.titles{
    margin-bottom:30px;
}

.back-arrow > a >i{
    padding:0 5px;

}
.back-arrow >a{
    color: black;
    text-decoration: none;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}
 /*events page*/

.card-header{
    background-color:white;
    border:none;
    text-align:center;
}
.events-intro{
    font-size:1.5em;
    margin: 60px 120px;
    color:white;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
.event{
    border:none;
    margin:60px;
    text-align:left;
    font-size: 1.2em;
}
.event-card-header{
    text-align:left;
    font-size: 1.35em;
    font-weight:bold;
    padding-top: 20px;
}



/*Parallax background images*/

@media (min-width: 992px){

.parallax {
  /* The image used */
  background-image: url('/media/events-image.jpg');

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
  /* The image used */
  background-image: url('/media/neon_2.jpg');

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-3 {
  /* The image used */
  background-image: url('/media/about.jpg');

  /* Set a specific height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
}  


/*Subscription table styling*/

/* Style the list */
.subscription {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.subscription:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.subscription .header {
  background-color: white;
  color: rgb(201, 68, 90);
  font-size: 25px;
}

/* List items */

.subscription-intro{
    font-size:1.35em;
    margin: 60px 120px;
    color:white;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
.subscription li {
  border-bottom: none;
  padding: 20px;
  text-align: center;
}

.subscription .pink {
  background-color: rgb(201, 68, 90);
  font-size: 1em;
  color:white;
}
.subscription .white {
  background-color: #ffffff;
  font-size: 1em;
}
.benefits{
    font-size: 2em;
    margin: 20px 60px;
}
.benefits >img{
    padding:30px;
}