<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto my-1">
        <li class="nav-item dropdown">
            <a class="menu font-weight-bold nav-link mr-5" href="#" id="about us" aria-haspopup="true" aria-expanded="false">
                About us
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="menu font-weight-bold nav-link mr-5" href="#" id="wines" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wines
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wines">
                <a href="" class="dropdown-item">Red</a>
                <a href="" class="dropdown-item">White</a>
                <a href="" class="dropdown-item">Sparkling &amp; Dessert</a>
                <a href="{% url 'wines' %}" class="dropdown-item">All Wines</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu font-weight-bold nav-link mr-5" href="#" id="events" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Events
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="events">
                <a href="" class="dropdown-item">Wine Tasting for beginners</a>
                <a href="" class="dropdown-item">Wine Tasting masterclass</a>
                <a href="" class="dropdown-item">Sommelier talks</a>
                <a href="{% url 'events' %}" class="dropdown-item">See all</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="menu font-weight-bold nav-link" href="#" id="subscriptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscriptions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subscriptions">
                <a href="" class="dropdown-item">Why subscribe?</a>
                <a href="{% url 'subscriptions' %}" class="dropdown-item">Types</a>
            </div>
        </li>
    </ul>
</div>