{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>Events</h2>
        </div>
    </div>

    {% for event in events %}
    <div class="row">
        <div class="card border-0 event col-sm-12 col-md-6">
            <div class="card-header">
                <h5>
                    {{ event.name }}
                </h5>
            </div>
                <div class="card-body">
                    <div class="event-details-container col-sm-12 col-md-6">
                        <p>{{ event.description }}</p>
                        <p class="event-price">£ {{ event.price }}</p>
                    </div>
                    <div class="event-image-container col-sm-12 col-md-6">
                        {% if event.image %}
                        <a href="{% url 'event_details' event.id %}">
                            <img class="event-image" src="{{ event.image }}" alt="{{ event.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="event-image" src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ event.name }}">
                        </a>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}