{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h1>Events</h1>
        </div>
    </div>
    <div class="row parallax-2">
        <div class="col-sm events-intro">
            <p> Join us in our shop on our courses if you want to learn about wine!</p>
            <p>Beginners sessions start at 2 PM every Saturday.</p>
            <p>Masterclasses are held on the last weekend of each month.</p>
            <p>Sommelier talks start at 6 Pm every Friday.</p>
            <p>Bookings for the weekly classes must be made by Thursday 12Am!</p>
            <p>Bookings for the monthly masterclasses must be made by the 15th of each month!</p>
        </div>
    </div>

    {% for event in events %}
    <div class="card event">
        <div class="row event-card-header">
            <div class="col-sm">
                <p>{{ event.name }}</p>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-sm-12 col-md-6">
                <p class="event-price mt-5">£{{ event.price }}</p>
                <p class="event-description">{{ event.description }}</p>
                <button type="button" href="" class="btn">Sign up</button>
            </div>
            <div class="event-image-container col-sm-12 col-md-6">
                {% if event.image %}
                <img class="event-image" src="{{ event.image}}" alt="{{ event.name }}">
                {% else %}
                <img class="event-image" src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ event.name }}">
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
</div>
{% endfor %}
</div>
{% endblock %}