{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h1>{{ event.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>{{ event.description }}</p>
            <p>{{ event.price }}</p>

        </div>
        <div class="col-sm-6">
            {% if event.image %}
                <img class="card-img-top img-fluid" src="{{ event.image }}" alt="{{ event.name }}">
            {% else %}
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.name }}">
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}