{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h1>Events</h1>
        </div>
    </div>
    <div class="row parallax-2">
    </div>
    <div class="row my-5 ">
        <div class="col-sm-12 events-intro">
            <p> Join us in our shop for our 2-hours beignners sessions or our masterclasses if you would like to learn
                about wine in general and about individual types.</p>
                <p>
                Beginners sessions start at 2 PM every Saturday afternoon and you can purchase them individually.
                We also have an advanced course for those who an curious about winemaking, wine auctions and modern
                winemaking technologies.</p>
        </div>
    </div>

    {% for event in events %}
    <div class="card event">
        <div class="row event-card-header">
            <div class="col-sm-6 col-md-4">
                <p>{{ event.name }}</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <p class="event-price">Price: £ {{ event.price }}</p>
            </div>
        </div>
        <div class="row card-body">
            <div class="button-container col-sm-12 col-md-4">
                <button href="" class="btn">Sign up</button>
                <button href="" class="btn">Learn more</button>
            </div>
            <div class="event-image-container col-sm-12 col-md-6">
                {% if event.image %}
                <a href="{% url 'event_details' event.id %}">
                    <img class="event-image" src="{{ event.image }}" alt="{{ event.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="event-image" src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ event.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}