{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>Subscriptions</h2>
        </div>
    </div>
    <div class="row mx-4">
        {% for subscription in subscriptions %}
        <div class="col-sm-12 col-md-3 my-3">
            <ul class="subscription">
                <li class="header">{{ subscription.name }}</li>
                <li class="green">£ {{ subscription.price }}</li>
                <li class="white">{{ subscription.description }}</li>
                <li><a href="#" class="btn">Sign Up</a></li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% endblock %}