{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>Subscriptions</h2>
        </div>
    </div>
    <div class="row">
        {% for subscription in subscriptions %}
        <div class="col-sm-6">
                {% if subscription.image %}
                <a href="{% url 'subscription_details' subscription.id %}">
                    <img src="{{ subscription.image }}" alt="{{ subscription.name }}">
                </a>
                {% else %}
                <a href="">
                    <img src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ subscription.name }}">
                </a>
                {% endif %}
                    <h5 class="">{{ subscription.name }}</h5>
                    <p class="">£ {{ subscription.description }}</p>
                    <p class="">£ {{ subscription.price }}</p>
        </div>
            {% endfor %}
    </div>
</div>
{% endblock %}