{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>Our wines</h2>
        </div>
    </div>
    <div class="row">
        {% for category in current_categories %}
        <div class="col-sm-12 text-center page-subtitle">
            <h3>{{ category.friendly_name }} wines</h3>
        </div>
        {% endfor %}
    </div>
    <div class="row  mx-2">
        <div class="product-container mx-5 my-5">
            <div class="row">
                {% for wine in wines %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        {% if wine.image %}
                        <img class="card-img-top img-fluid"  src="{{ MEDIA_URL }}{{ wine.image }}"
                            alt="{{ wine.name }}" />
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ wine.name }}" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ wine.name }}</h5>
                            <p class="card-text">Vatiety: {{ wine.variety.friendly_name }}</p>
                            <p class="card-text">£ {{ wine.price }}</p>
                            {% if wine.category %}
                            <p><a class="card-text text-muted" href="{% url 'wines' %}?category={{ wine.category.name }}">Type:
                                    {{ wine.category.friendly_name }} Wines</a>
                            </p>
                            {% endif %}
                            <a href="{% url 'wine_details' wine.id %}" class="btn btn-success">Learn more</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}