{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>Our wines</h2>
        </div>
    </div>
    {% for category in current_categories %}
    <div class="row mx-3">
        <div class="col-sm-12 text-center page-subtitle">
            <h3>{{ category.friendly_name }} wines</h3>
        </div>
        <div class="row mx-3">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
            <div class="col-sm-12 text-center back-arrow">
                <a href="{% url 'wines' %}"><i class="fas fa-arrow-left"></i>All wines</a>
            </div>
            {% endif %}
        </div>

    </div>
    {% endfor %}
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-5 text-center text-md-left">
                        {{ wines|length }} products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for wine in wines %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                {% if wine.image %}
                <a href="{% url 'wine_details' wine.id %}">
                    <img src="{{ wine.image.url }}" alt="{{ wine.name }}" />
                </a>
                {% else %}
                <a href="{% url 'wine_details' wine.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ wine.name }}" />
                </a>
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'wine_details' wine.id %}">
                        <h5 class="card-title">{{ wine.name }}</h5>
                    </a>
                    <p class="card-text">Winery: {{ wine.winery }}</p>
                    <p class="card-text">£ {{ wine.price }}</p>
                    {% if wine.category %}
                    <p>
                        <a class="text-muted" href="{% url 'wines' %}?category={{ wine.category.name }}">Type:
                            {{ wine.category.friendly_name }} Wines</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

<!--Source for Pagination:https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html-->
    <div class="row">
        <div class="col-sm-12" aria-label="Page navigation">
        {% if wines.has_other_pages %}
        <ul class="pagination">
            {% if wines.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ wines.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span>&laquo;</span><span class="sr-only">Previous</span></li>
            {% endif %}

            {% for i in wines.paginator.page_range %}
                {% if wines.number == i %}
                    <li class="page-item active">{{ i }}<span class="sr-only">(current)</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if wines.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ wines.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span>&raquo;</span><span class="sr-only">Next</span></li>
            {% endif %}
        </ul>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}


{% endif %}
                    {% if subscription in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.subscription.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.subscription.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.subscription.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.subscription.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST"
                                action="{% url 'adjust_subscription_in_bag' item.subscription_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty decrement-qty_{{ item.subscription_id }} btn"
                                                data-item_id="{{ item.subscription_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.subscription_id }}"
                                            id="id_qty_{{ item.subscription_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty increment-qty_{{ item.subscription_id }} btn"
                                                data-item_id="{{ item.subscription_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right"
                                id="remove_{{ item.subscription_id }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">${{ item.subscription.price | calc_subtotal:item.subscription.quantity }}
                            </p>
                        </td>
                    </tr>
                    {% endif %}-->


    def adjust_wine_in_bag(request, wine_id):

    quantity = int(request.POST.get('quantity'))
    bag = request.session.get('bag', {})

    try:
        if quantity > 0:
            bag[wine_id] = quantity
        else:
            bag.pop(wine_id)

        request.session['bag'] = bag
        return redirect(reverse('view_bag'))

    except Exception as e:
        return HttpResponse(status=500)


def adjust_subscription_in_bag(request, subscription_id):

    quantity = int(request.POST.get('quantity'))
    bag = request.session.get('bag', {})

    try:
        if quantity > 0:
            bag[subscription_id] = quantity
        else:
            bag.pop(subscription_id)

        request.session['bag'] = bag
        return redirect(reverse('view_bag'))

    except Exception as e:
        return HttpResponse(status=500)


def remove_wine_from_bag(request, wine_id):
    """Remove the item from the shopping bag"""
    bag = request.session.get('bag', {})

    try:
        bag.pop(wine_id)

        request.session['bag'] = bag
        return HttpResponse(status=200)

    except Exception as e:
        return HttpResponse(status=500)


def remove_subscription_from_bag(request, subscription_id):
    """Remove the item from the shopping bag"""
    bag = request.session.get('bag', {})

    try:
        bag.pop(subscription_id)

        request.session['bag'] = bag
        return HttpResponse(status=200)

    except Exception as e:
        return HttpResponse(status=500)


         path('adjust/<int:wine_id>/', views.adjust_wine_in_bag,
         name='adjust_wine_in_bag'),
    path('adjust/<int:subscription_id>/', views.adjust_subscription_in_bag,
         name='adjust_subscription_in_bag'),
    path('remove/<int:wine_id>/', views.remove_wine_from_bag,
         name='remove_wine_from_bag'),
    path('remove/<int:subscription_id>/', views.remove_subscription_from_bag,
         name='remove_subscription_from_bag'),

    def test_adjust_wine_in_bag_url_resolves(self):
        url = reverse('adjust_wine_in_bag')
        self.assertEquals(resolve(url).func, adjust_wine_in_bag)

    def test_adjust_subscription_in_bag_url_resolves(self):
        url = reverse('adjust_subscription_in_bag')
        self.assertEquals(resolve(url).func, adjust_subscription_in_bag)

    def test_remove_wine_from_bag_url_resolves(self):
        url = reverse('remove_wine_from_bag')
        self.assertEquals(resolve(url).func, remove_wine_from_bag)

    def test_remove_subscription_from_bag_url_resolves(self):
        url = reverse('remove_subscription_from_bag')
        self.assertEquals(resolve(url).func, remove_subscription_from_bag)



                           <!--  {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.wine.image.url }}">
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ item.wine.name }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ item.wine.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.wine.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            <form class="form update-form" method="POST"
                                action="{% url 'adjust_wine_in_bag' item.wine_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty decrement-qty_{{ item.wine_id }} btn"
                                                data-item_id="{{ item.wine_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.wine_id }}" id="id_qty_{{ item.wine_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty increment-qty_{{ item.wine_id }} btn"
                                                data-item_id="{{ item.wine_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right"
                                id="remove_{{ item.wine_id }}"><small>Remove</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">£{{ item.wine.price }}</p>
                        </td>
                    </tr>

                    {% endfor %}-->