{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>All Wines</h2>
        </div>
    </div>
    <div class="row wine-body">
        {% for wine in wines %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0">
                {% if wine.image %}
                <a href="{% url 'wine_details' wine.id %}">
                    <img class="card-img-top" src="{{ wine.image }}" alt="{{ wine.name }}">
                </a>
                {% else %}
                <a href="{% url 'wine_details' wine.id %}">
                    <img class="card-img-top" src="media/wine-blank.jpg" alt="{{ wine.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ wine.name }}</h5>
                    <p class="card-text" >from: {{ wine.winery }}</p>
                    <p class="card-text">£ {{ wine.price }}</p>
                </div>
            </div>
        </div>
            {% endfor %}
    </div>
</div>
{% endblock %}