{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 page-title text-center">
            <h2>Our wines</h2>
        </div>
        {% for category in current_categories %}
        <div class="row">
            <div class="col-sm-12 page-subtitle text-center">
                <h3>{{ category.friendly_name }} wines</h3>
            </div>
            <div class="row mx-3">
            {% if search_term or current_categories or current_sorting != 'None_None' %}
            <div class="col-sm text-left">
                <a href="{% url 'wines' %}"><i class="fas fa-arrow-left">All wines</i></a>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                                (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>
                                Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>
                                Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc"
                                {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {{ wines|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row wine-body">
        {% for wine in wines %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card border-0">
                {% if wine.image %}
                <a href="{% url 'wine_details' wine.id %}">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ wine.image }}" alt="{{ wine.name }}">
                </a>
                {% else %}
                <a href="{% url 'wine_details' wine.id %}">
                    <img class="card-img-top" src="{{ MEDIA_URL }}wine-blank.jpg" alt="{{ wine.name }}">
                </a>
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'wine_details' wine.id %}">
                        <h5 class="card-title">{{ wine.name }}</h5>
                    </a>
                    <p class="card-text">from: {{ wine.winery }}</p>
                    <p class="card-text">£ {{ wine.price }}</p>
                    {% if wine.category %}
                    <p>
                        <a class="text-muted" href="{% url 'wines' %}?category={{ wine.category.name }}">Type:
                            {{ wine.category.friendly_name }} Wines</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}